                        // --Font-Family-- //

$font1: "Quicksand", sans-serif, "proxima nova light", "Helvetica Neue", Helvetica, Arial, serif;
$font2: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;

                        // --Colors-- //

// -- Text -- //

$txtColor : #EEEEEE;
$darkTxtColor : #333;

// -- Dark version colors var  -- //

$Dcolor-1 : #156d96;
$Dcolor-2 : #115270;
$Dcolor-3 : #0e4158;
$Dcolor-4 : #0B3143; 

// -- Dark version complementary colors var -- //

$DcColor-1 : #ff7b00;
$DcColor-2 : #ff9735;
$DcColor-3 : #fdc48e;
$DcColor-4 : #411f00;

// -- light version colors var -- //
$Lcolor-1 : #FAFAFA;
$Lcolor-2 : #ececec;
$Lcolor-3: #bbbbbb; 
$Lcolor-4: #9c9c9c; 

// -- Light version complementary colors var -- //
$LcColor-1 : #ff7b00;
$LcColor-2 : #ff9735;
$LcColor-3 : #c26e20;
$LcColor-4 : #411f00;

// -- box shadow -- //

$boxShadow : rgba(1, 3, 5, 0.8);